@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Base Styles */
body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* Top bar */
.top-bar {
  height: 30px;
  width: 700px;
  background-color: #374151;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 175px;
}

.title {
  font-size: 16px;
  color: #d4d4d4;
  text-align: center;
}

.icons {
  display: flex;
  gap: 10px;
  margin-right: 10px;
  height: 100%;
  justify-content: end;
  align-items: center;
}

.icon {
  height: 15px;
  width: 15px;
  background-color: crimson;
  border-radius: 999px;
}

.icon-minimize {
  background-color: #4ade80;
}
.icon-maximize {
  background-color: #fde047;
}
.icon-close {
  background-color: #ef4444;
}

/* Quote Body */
.quote-body {
  height: 380px;
  width: 700px;
  background-color: #111827;
  border-radius: 0 0 8px 8px;
}

.quote {
  color: #d3cfcf;
  font-size: 22px;
  padding: 0 30px;
  margin-top: 0;
}

.author {
  color: #4ade80;
}

/* terminal-code */
.terminal-code {
  text-align: left;
  margin-top: 0;
  padding: 8px;
}

/* Button */
.btn {
  all: unset;
  user-select: none;
  margin-top: 30px;
  background-color: #374151;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 18px;
}

.btn:hover {
  background-color: #40ba6c;
}

.btn:active {
  background-color: #2f9153;
}
