/* Reser */
h1,
body {
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  /* height: 100vh; */
  background: linear-gradient(90deg, #007f8f, #20c661);
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 120px;
}

/* Title */
h1 {
  text-align: center;
  margin-top: 50px;
  color: whitesmoke;
}

/* paragraphs */
p {
  color: #d8d6d6;
}

.colors {
  display: flex;
}

/* Buttons */
.btn {
  all: unset;
  border-radius: 999px;
  background-color: #051937;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  user-select: none;
  margin: 15px 10px;
}

/* Footer Attribute */
.attribute {
  text-align: center;
  font-size: 12px;
  margin-top: 200px;
}

.attribute a {
  color: #102852;
  text-decoration: none;
}

.attribute a:hover {
  color: #1d3e77;
}
